/* Header */
#header-block {
    position: relative;
    z-index: 1;
}

#header-text-spacer {
    height: 32px;
    width: 100%;
    background-color: #E981A6;
    display: none;
}

#header-text {
    position: absolute;
    font-family: IndieFlower, sans-serif;
    color: black;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    max-width: 1440px;
    text-align: center;
    font-size: 22px;
    line-height: 29px;
    bottom: 20px;
}

@media (max-width: 740px) and (min-width: 680px), (max-width: 580px) {
    #header-text {
        bottom: 0;
    }
}

@media (max-width: 515px) {
    #header-text-spacer {
        display: block;
    }
}

@media (max-width: 420px) {
    #header-text-spacer {
        display: block;
        height: 62px;
    }
}

#header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#horribunnies-logo-wrapper {
    width: 100%;
    max-width: 900px;
    overflow: visible;
    margin-bottom: -8px;
}

#horribunnies-logo {
    max-width: none;
    width: 160%;
    margin-left: -30%;
}

@media (max-width: 900px) {
    #header-text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 680px) {
    #header-text {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Background slider */
.background-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(450px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    z-index: 0;
    top: 0;
    left: 0;
}

.background-slider {
    position: relative;
    width: 200vw;
    height: 3000px;
    top: -1500px;
    opacity: 0.69;
    z-index: 0;
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

@media (min-width: 901px) {
    .background-slider {
        background-size: 400px 400px;
        animation: slideFull 3s linear infinite;
    }
}

@media (max-width: 900px) {
    .background-slider {
        background-size: 320px 320px;
        animation: slide900 3s linear infinite;
    }
}


@media (max-width: 600px) {
    .background-slider {
        background-size: 240px 240px;
        animation: slide600 3s linear infinite;
    }
}

@keyframes slideFull {
    from { transform: translate(0px); }
    to   { transform: translate(-50px, 50px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}

@keyframes slide900 {
    from { transform: translate(0px); }
    to   { transform: translate(-40px, 40px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}

@keyframes slide600 {
    from { transform: translate(0px); }
    to   { transform: translate(-30px, 30px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}

/* Video */
#video-block {
    position: relative;
    z-index: 1;
}
#video-embed {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -10px;
}

#video-iframe {
    box-shadow: 6px 6px 0 0 white, -6px -6px 0 0 white, -6px 6px 0 0 white, 6px -6px 0 0 white;
    border-radius: 10px;
    width: 800px;
    height: 450px;
}

@media(max-width: 900px) {
    #video-iframe {
        width: 640px;
        height: 360px;
    }
    .background-wrapper {
        height: calc(360px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

@media(max-width: 660px) {
    #video-iframe {
        width: 426px;
        height: 240px;
    }
    .background-wrapper {
        height: calc(240px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

@media(max-width: 440px) {
    #video-iframe {
        width: 256px;
        height: 144px;
    }
    .background-wrapper {
        height: calc(144px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

/* lol */
#bwunnies {
    display: inline-block;
    color: white;
    width: 95px;
    text-align: center;
}

#bwunnies-wrap {
    white-space: nowrap;
}

#bun-emoji {
    color: white;
    white-space: nowrap
}

#horribunnies-text {
    color: white;
    font-weight: bold;
}

.highlightCharacter {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #F6D051;
}

@media (max-width: 900px) {
    .highlightCharacter {
        font-size: 20px;
    }
    #bwunnies {
        width: 80px;
    }
}

@media (max-width: 500px) {
    .highlightCharacter {
        font-size: 16px;
    }
    #bwunnies {
        width: 60px;
    }
}

/* Content block */
#content-block-title {
    font-family: IndieFlower, sans-serif;
    color: black;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 20px;
}

#content-block {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

.feature-block {
    position: relative;
    margin-bottom: 70px;
}

.feature-content-block {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #9C446E;
    color: white;
}

.feature-content-block-title {
    font-family: IndieFlower, sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 5px;
}

.feature-content-block {
    padding: 20px 30px 20px 30px;
}

.is-left-feature-block {
    margin-right: 30px;
}

.is-right-feature-block {
    margin-left: 30px;
}

.is-left-feature-block .feature-content-block {
    padding-right: 190px;
}

.is-right-feature-block .feature-content-block {
    padding-left: 190px;
}

.feature-image-block {
    position: absolute;
    top: -20px;
}

.is-left-feature-block .feature-image-block {
    right: -30px;
}

.is-right-feature-block .feature-image-block {
    left: -30px;
}

@media (max-width: 900px) {
    .is-left-feature-block {
        margin-right: 0;
    }

    .is-right-feature-block {
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .feature-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .feature-image-block {
        position: static;
    }
    .feature-content-block {
        padding: 20px 30px 20px 30px !important;
    }
}