#header-text {
    font-family: IndieFlower, sans-serif;
    color: black;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    max-width: 1440px;
    background-color: #E981A6;
    text-align: center;
    font-size: 22px;
    line-height: 29px;
}

#header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    #header-text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 500px) {
    #header-text {
        font-size: 14px;
        line-height: 20px;
    }
}

.background-slider {
    position: relative;
    width: 200vw;
    height: 800px;
    top: -400px;
    opacity: 0.69;
    background-image: url(../images/background.png);
    background-size: 400px 400px;
    background-repeat: repeat;
    animation: slide 0.8s linear infinite;
}

@keyframes slide {
    from { transform: translate(0px); }
    to   { transform: translate(-50px, 50px); } <!-- Translate parameter has to be a multiple of (background-size / 8)) -->
}

@media (max-width: 900px) {
    .background-slider {
        background-size: 320px 320px;
    }
    @keyframes slide {
        from { transform: translate(0px); }
        to   { transform: translate(-40px, 40px); }
    }
}

@media (max-width: 600px) {
    .background-slider {
        background-size: 240px 240px;
    }
    @keyframes slide {
        from { transform: translate(0px); }
        to   { transform: translate(-30px, 30px); }
    }
}