/* Header */
#hover-navbar {
    position: absolute;
}

#base-navbar {
    background: #FFEBF2 !important;
}

#header-block {
    position: relative;
    z-index: 1;
}

#header-text {
    background-color: #9c416e;
    font-family: IndieFlower, sans-serif;
    color: black;
    width: 100%;
    padding: 10px 4% 30px;
    text-align: center;
    font-size: 22px;
    line-height: 29px;
}

#header-logo {
    background-color: #FFEBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#horribunnies-logo-wrapper {
    width: 100%;
    max-width: 1200px;
    overflow: visible;
    margin-bottom: -8px;
}

#horribunnies-logo {
    max-width: none;
    width: 120%;
    margin-left: -10%;
}

@media (max-width: 900px) {
    #header-text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 680px) {
    #header-text {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Video */
#video-block {
    position: relative;
    z-index: 1;
}
#video-embed {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -10px;
}

#video-iframe {
    box-shadow: 6px 6px 0 0 white, -6px -6px 0 0 white, -6px 6px 0 0 white, 6px -6px 0 0 white;
    border-radius: 10px;
    width: 800px;
    height: 450px;
}

@media(max-width: 900px) {
    #video-iframe {
        width: 640px;
        height: 360px;
    }
    .background-wrapper {
        height: calc(360px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

@media(max-width: 660px) {
    #video-iframe {
        width: 426px;
        height: 240px;
    }
    .background-wrapper {
        height: calc(240px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

@media(max-width: 440px) {
    #video-iframe {
        width: 256px;
        height: 144px;
    }
    .background-wrapper {
        height: calc(144px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    }
}

/* lol */
#bwunnies {
    display: inline-block;
    color: white;
    width: 95px;
    text-align: center;
}

#bwunnies-wrap {
    white-space: nowrap;
}

.bun-emoji {
    color: white;
    white-space: nowrap
}

#horribunnies-text {
    color: white;
    font-weight: bold;
}

.highlightCharacter {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #F6D051;
}

@media (max-width: 900px) {
    .highlightCharacter {
        font-size: 20px;
    }
    #bwunnies {
        width: 80px;
    }
}

@media (max-width: 500px) {
    .highlightCharacter {
        font-size: 16px;
    }
    #bwunnies {
        width: 60px;
    }
}

#opheline-button {
    display: flex;
    justify-content: center;
    font-family: IndieFlower, sans-serif;
    text-align: center;
    flex-direction: row;
    font-size: 22px;
    font-weight: bold;
}

#opheline-link {
    padding: 10px;
    width: 585px;
    background: #9C446E;
}

#opheline-button-content {
    color: #FFFFFF;
}

#opheline-button-content:hover {
    color: #F6D051;
}

@media (max-width: 900px) {
    #opheline-button {
        font-size: 18px;
        line-height: 26px;
    }
    #opheline-link {
        width: 460px;
    }
}

@media (max-width: 680px) {
    #opheline-button {
        font-size: 14px;
        line-height: 20px;
    }
    #opheline-link {
        width: 320px;
    }
}

/* Content block */
#content-block-title {
    font-family: IndieFlower, sans-serif;
    color: black;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#content-block-title a {
    color: #E981A6;
}

#content-block {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

.feature-block {
    position: relative;
    margin-bottom: 70px;
}

.feature-content-block {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #9C446E;
    color: white;
}

.feature-content-block-title {
    font-family: IndieFlower, sans-serif;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 5px;
}

@media (max-width:900px) {
    .feature-content-block-title {
        font-size: 24px;
        line-height: 18px;
    }
}

.text-highlight {
    font-weight: bold;
    color: #F6D051;
}

#pink-with-stripes {
    font-weight: bold;
}

.inner-pink {
    color: #e7a7e2;
}

.inner-light-pink {
    color: #e7c1e3;
}

.feature-content-block-text br {
    margin-bottom: 4px;
}

.feature-content-block-text {
    font-size: 16px;
    line-height: 20px;
}

.feature-content-block {
    padding: 20px 30px 20px 30px;
}

.is-left-feature-block {
    margin-right: 30px;
}

.is-right-feature-block {
    margin-left: 30px;
}

.is-left-feature-block .feature-content-block {
    padding-right: 190px;
}

.is-right-feature-block .feature-content-block {
    padding-left: 190px;
}

.feature-image-block {
    position: absolute;
    top: -20px;
    width: 185px;
}

.feature-image-block img {
    box-shadow: 3px 3px 0 0 white, -3px -3px 0 0 white, -3px 3px 0 0 white, 3px -3px 0 0 white;
    border-radius: 3px;
}

.large-feature-block .feature-image-block {
    width: 300px;
}

.large-feature-block.is-right-feature-block .feature-content-block {
    padding-left: 300px;
}

.large-feature-block.is-left-feature-block .feature-content-block {
    padding-right: 300px;
}

.is-left-feature-block .feature-image-block {
    right: -30px;
}

.is-right-feature-block .feature-image-block {
    left: -30px;
}

@media (max-width: 900px) {
    .is-left-feature-block {
        margin-right: 0;
    }

    .is-right-feature-block {
        margin-left: 0;
    }
}

.feature-block:last-of-type {
    margin-bottom: 100px;
}

@media (max-width: 800px) {
    .feature-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .feature-image-block {
        position: static;
    }
    .feature-content-block {
        padding: 20px 30px 20px 30px !important;
    }
}

#wishlist {
    margin-bottom: 5px;
}

#follow-us, #wishlist {
    font-family: IndieFlower, sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 32px;
}

@media (max-width: 900px) {
    #wishlist, #follow-us {
        font-size: 24px;
    }
    footer {
        margin-top: 50px;
    }
}

#follow-us a, #wishlist a {
    color: #dea1c4;
}

#follow-us a:hover, #wishlist a:hover {
    color: #9C446E;
}

#steam-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}