@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower-Regular.ttf)
}

.navbar-item {
    font-family: IndieFlower, sans-serif;
    color: black;
    font-size: 20px;
    line-height: 29px;
}

.navbar-item.is-active {
    color: #9D4476 !important;
    text-decoration: underline !important;
}

.no-pb {
    padding-bottom: 0 !important;
}

.no-mb {
    margin-bottom: 0 !important;
}