@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower-Regular.ttf)
}

.navbar-item {
    font-family: IndieFlower, sans-serif;
    color: black;
    font-size: 20px;
    line-height: 29px;
}

.navbar-item.is-active {
    color: #9D4476 !important;
    text-decoration: underline !important;
}

.background-wrapper {
    overflow: hidden;
    height: 400px;
}

.background-slider {
    position: relative;
    width: 200vw;
    height: 800px;
    top: -400px;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    from { transform: translate(0px); }
    to   { transform: translate(-134px, 134px); }
}