@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower-Regular.ttf)
}

body {
    overflow: hidden;
}

/* Navbar */
.navbar {
    background: none;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-menu, .navbar-item, .navbar-item.is-active {
    background: none !important;
}

.navbar-item {
    font-family: IndieFlower, sans-serif;
    color: black;
    font-size: 20px;
    line-height: 29px;
}

.navbar-item.is-active {
    color: #9D4476 !important;
    text-decoration: underline !important;
}

footer {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #F3C0D6;
}

#footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 350px;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

@media (max-width: 500px) {
    #footer-content {
        width: 100%;
        position: relative;
        right: auto;
        align-items: center;
    }
}

#footer-content div {
    position: relative;
    top: 10px;
}

#daisies {
    position: absolute;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#daisies img {
    max-width: 1492px;
    max-height: 107px;
}

footer a {
    color: white;
}

footer {
    margin-top: 100px;
}


/* Background slider */
.background-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(450px - 10px + 6px); /* Video iframe height minus its relative position plus border width */
    z-index: 0;
    top: 0;
    left: 0;
}

.background-slider {
    position: relative;
    width: 200vw;
    height: 3000px;
    top: -1500px;
    opacity: 0.69;
    z-index: 0;
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

@media (min-width: 901px) {
    .background-slider {
        background-size: 400px 400px;
        animation: slideFull 3s linear infinite;
    }
}

@media (max-width: 900px) {
    .background-slider {
        background-size: 320px 320px;
        animation: slide900 3s linear infinite;
    }
}


@media (max-width: 600px) {
    .background-slider {
        background-size: 240px 240px;
        animation: slide600 3s linear infinite;
    }
}

@keyframes slideFull {
    from { transform: translate(0px); }
    to   { transform: translate(-50px, 50px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}

@keyframes slide900 {
    from { transform: translate(0px); }
    to   { transform: translate(-40px, 40px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}

@keyframes slide600 {
    from { transform: translate(0px); }
    to   { transform: translate(-30px, 30px); } /* Translate parameter has to be a multiple of (background-size / 8)) */
}