/* Header */
#header-block {
    position: relative;
    z-index: 1;
}

#header-text-spacer {
    height: 32px;
    width: 100%;
    background-color: #E981A6;
    display: none;
}

@media (max-width: 515px) {
    #header-text-spacer {
        display: block;
    }
}

@media (max-width: 420px) {
    #header-text-spacer {
        display: block;
        height: 62px;
    }
}

#header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#horribunnies-logo-wrapper {
    width: 100%;
    max-width: 900px;
    overflow: visible;
    margin-bottom: -8px;
}

#horribunnies-logo {
    max-width: none;
    width: 160%;
    margin-left: -30%;
}

/* Team */
#members-header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#members-block {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    top: -275px;
    width: 75%
}

.member-box-block {
    display: flex;
    justify-content: center;
}

.member-box {
    box-shadow: 10px 10px 0 0 white, -10px -10px 0 0 white, -10px 10px 0 0 white, 10px -10px 0 0 white;
    border-radius: 10px;
    background-color: #9C446E;
    color: white;
    width: 300px;
    height: 450px;
}

.member-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 57px;
}

.member-tag-name {
    font-family: IndieFlower, sans-serif;
    color: white;
    font-size: 26px;
    position: relative;
    top: -40px;
}

.member-headshot {
    display: flex;
    justify-content: center;
    margin-bottom: -80px;
}

@media(max-width: 900px) {
    #members-block {
        width: 80%;
    }
    .member-box {
        width: 240px;
        height: 360px;
    }
    .background-wrapper {
        height: calc(360px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}

@media(max-width: 660px) {
    #members-block {
        width: 90%;
    }
    .member-box {
        width: 200px;
        height: 240px;
    }
    .background-wrapper {
        height: calc(240px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}

@media(max-width: 440px) {
    #members-block {
        width: 100%;
    }
    .member-box {
        width: 150px;
        height: 144px;
    }
    .background-wrapper {
        height: calc(144px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}