/* Header */
#header-block {
    position: relative;
    z-index: 1;
    margin-top: -100px;
}

#header-text-spacer {
    height: 32px;
    width: 100%;
    background-color: #E981A6;
    display: none;
}

@media (max-width: 515px) {
    #header-text-spacer {
        display: block;
    }
}

@media (max-width: 420px) {
    #header-text-spacer {
        display: block;
        height: 62px;
    }
}

#header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#horribunnies-logo-wrapper {
    width: 100%;
    max-width: 900px;
    overflow: visible;
    margin-bottom: -8px;
}

#horribunnies-logo {
    max-width: none;
    width: 160%;
    margin-left: -30%;
}

/* Team */
#members-header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-bottom: -213px;
}

#members-block {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    top: -275px;
    width: 75%;
}

.member-box-block {
    display: flex;
    justify-content: center;
}

.member-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 30px 20px 30px;
    box-shadow: 10px 10px 0 0 white, -10px -10px 0 0 white, -10px 10px 0 0 white, 10px -10px 0 0 white;
    border-radius: 10px;
    background: linear-gradient(308.65deg, #E981A6 -73%, #9C446E 59.21%);
    color: white;
    width: 300px;
    height: 410px;
}

.member-box-text {
    font-family: IndieFlower, sans-serif;
    font-size: 16px;
    text-align: justify;
}

.member-box-text br {
    margin-bottom: 5px;
}

.minor-text {
    font-size: 11px;
}

.member-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-box-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
}

.member-box-social a:not(:last-of-type) {
    margin-right: 10px;
}

.member-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 57px;
}

.member-tag-name {
    font-family: IndieFlower, sans-serif;
    color: white;
    font-size: 26px;
    position: relative;
    top: -40px;
    left: 7px;
}

.member-headshot {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -80px;
    width: 100%;
}

.background-wrapper {
    height: 426px;
}

@media(max-width: 900px) {
    #members-block {
        width: 80%;
    }
    .member-box {
        width: 240px;
        height: 506px;
    }
    .background-wrapper {
        height: 522px;
    }
}

@media(max-width: 800px) {
    #members-block {
        top: -225px;
    }
    .member-headshot {
        width: 350px;
    }
    .background-wrapper {
        height: 585px;
    }
    #members-header {
        margin-bottom: -150px;
    }
}

@media (max-width: 700px) {
    #members-block {
        flex-direction: column-reverse;
        top: -200px;
    }
    .member-box {
        width: 500px;
    }
    .background-wrapper {
        height: 884px;
    }
    #lenophie-member-block {
        margin-bottom: 20px;
    }
    #lenophie-member-block .member-box {
        height: 290px;
    }
    #pakrett-member-block .member-box {
        height: 266px;
    }
}

@media (max-width: 620px) {
    #members-block {
        top: -150px;
    }
    .background-wrapper {
        height: 934px;
    }
    #members-header {
        margin-bottom: -100px;
    }
}

@media (max-width: 525px) {
    .member-box {
        width: 350px;
    }
    #lenophie-member-block .member-box {
        height: 362px;
    }
    #pakrett-member-block .member-box {
        height: 362px;
    }
    .background-wrapper {
        height: 1102px;
    }
}

@media (max-width: 375px) {
    .member-box {
        width: 250px;
    }
    #members-block {
        top: -100px;
    }
    #lenophie-member-block .member-box {
        height: 458px;
    }
    #pakrett-member-block .member-box {
        height: 482px;
    }
    .background-wrapper {
        height: 1368px;
    }
    #members-header {
        margin-bottom: -50px;
    }
}

.text-highlight {
    font-weight: bold;
    color: #F6D051;
}

#lenophie-headshot {
    animation: rotateLenophie 1.5s linear infinite;
}

#pakrett-headshot {
    animation: rotatePakrett 0.8s linear infinite;
}

#other-members-block {
    background-color: #E981A6;
    height: 200px;
}

@keyframes rotateLenophie {
    0% { transform: rotate(-10deg); }
    50%   { transform: rotate(0deg); }
    100%   { transform: rotate(-10deg); }
}

@keyframes rotatePakrett {
    0% { transform: rotate(10deg); }
    50%   { transform: rotate(0deg); }
    100%   { transform: rotate(10deg); }
}

footer {
    margin-top: 0;
}
