/* Header */
#header-block {
    position: relative;
    z-index: 1;
    margin-top: -100px;
}

#header-text-spacer {
    height: 32px;
    width: 100%;
    background-color: #E981A6;
    display: none;
}

@media (max-width: 515px) {
    #header-text-spacer {
        display: block;
    }
}

@media (max-width: 420px) {
    #header-text-spacer {
        display: block;
        height: 62px;
    }
}

#header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#horribunnies-logo-wrapper {
    width: 100%;
    max-width: 900px;
    overflow: visible;
    margin-bottom: -8px;
}

#horribunnies-logo {
    max-width: none;
    width: 160%;
    margin-left: -30%;
}

/* Team */
#members-header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#members-block {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    top: -275px;
    width: 75%;
}

.member-box-block {
    display: flex;
    justify-content: center;
}

.member-box {
    box-shadow: 10px 10px 0 0 white, -10px -10px 0 0 white, -10px 10px 0 0 white, 10px -10px 0 0 white;
    border-radius: 10px;
    background: linear-gradient(308.65deg, #E981A6 -73%, #9C446E 59.21%);
    color: white;
    width: 300px;
}

.member-box-text {
    font-family: IndieFlower, sans-serif;
    margin: 35px 30px 30px 30px;
    font-size: 16px;
    text-align: justify;
}

.member-box-text br {
    margin-bottom: 5px;
}

.minor-text {
    font-size: 11px;
}

.member-box-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

.member-box-social a {
    margin-right: 10px;
}

.member-box-social a:last-of-type {
    margin-right: 30px;
}

.member-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 57px;
}

.member-tag-name {
    font-family: IndieFlower, sans-serif;
    color: white;
    font-size: 26px;
    position: relative;
    top: -40px;
    left: 7px;
}

.member-headshot {
    display: flex;
    justify-content: center;
    margin-bottom: -80px;
}

@media(max-width: 900px) {
    #members-block {
        width: 80%;
    }
    .member-box {
        width: 240px;
        height: 360px;
    }
    .background-wrapper {
        height: calc(360px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}

@media(max-width: 660px) {
    #members-block {
        width: 90%;
    }
    .member-box {
        width: 200px;
        height: 240px;
    }
    .background-wrapper {
        height: calc(240px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}

@media(max-width: 440px) {
    #members-block {
        width: 100%;
    }
    .member-box {
        width: 150px;
        height: 144px;
    }
    .background-wrapper {
        height: calc(144px - 100px + 10px); /* member block height minus its relative position plus border width */
    }
}

.text-highlight {
    font-weight: bold;
    color: #F6D051;
}

#lenophie-headshot {
    animation: rotateLenophie 1.5s linear infinite;
}

#pakrett-headshot {
    animation: rotatePakrett 0.8s linear infinite;
}

#other-members-block {
    background-color: #E981A6;
    height: 200px;
}

@keyframes rotateLenophie {
    0% { transform: rotate(-10deg); }
    50%   { transform: rotate(0deg); }
    100%   { transform: rotate(-10deg); }
}

@keyframes rotatePakrett {
    0% { transform: rotate(10deg); }
    50%   { transform: rotate(0deg); }
    100%   { transform: rotate(10deg); }
}
